#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  place-items: center;
  gap: 10px;
}

.languages {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  place-items: center;
  justify-content: center;
  padding: 0;
  min-width: 210px;
  max-width: 350px;
  
  li {
      padding: 2px 5px;
      margin: 1.5px;
      border-radius: 2px;
      font-weight: 400 ;
  }
  
  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(5) {
    background-color: red;
  }

  li:nth-child(3),
  li:nth-child(6) {
    background-color: yellowgreen;
    color: rgb(61, 61, 61);
  }

  li:nth-child(4) {
    background-color: rgb(50, 122, 205);
    color: rgb(255, 255, 255);
  }

  li:nth-child(7),
  li:nth-child(8) {
    background-color: rgb(176, 39, 176);
    color: rgb(255, 255, 255); 
  }

  li:last-child {
    background-color: rgb(98, 154, 218);
    color: black;
  }
}

.word {
  list-style: none;
  margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    place-items: center;
    justify-content: center;
    padding: 0;
    min-width: 210px;
    max-width: 350px;

    li {
      background-color: aliceblue;
      width: 50px;  
      height: 50px;
    }
}

