#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  place-items: center;
  gap: 10px;
}

.header {
  display:flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 20px;

  .game-description {
    max-width: 600px;
  }
}

.message {
  width: 100%;
  height: 70px; 
  display: flex;
  flex-direction: column;
}

.game-won, .game-lost, .farewell-message {
  background-Color: #10A95B;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  font-style: italic;
  border-radius: 2px;
}

.game-lost {
  background-Color: #BA2A2A;
}

.farewell-message {
  background-Color: #982aba;
}

.languages {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  place-items: center;
  justify-content: center;
  padding: 0;
  min-width: 210px;
  max-width: 350px;
  
  li:nth-child(1),
  li:nth-child(2),
  li:nth-child(5) {
    background-color: red;
  }
  
  li:nth-child(3),
  li:nth-child(6) {
    background-color: yellowgreen;
    color: rgb(61, 61, 61);
  }
  
  li:nth-child(4) {
    background-color: rgb(50, 122, 205);
    color: rgb(255, 255, 255);
  }
  
  li:nth-child(7),
  li:nth-child(8) {
    background-color: rgb(176, 39, 176);
    color: rgb(255, 255, 255); 
  }
  
  li:last-child {
    background-color: rgb(98, 154, 218);
    color: black;
  }
}

li {
  padding: 2px 5px;
  margin: 1.5px;
  border-radius: 2px;
  font-weight: 400 ;
  display: flex;
  place-items: center;
  place-content: center;
}

.attempts-timer {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.word {
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  place-items: center;
  justify-content: center;
  padding: 0;
  min-width: 210px;

  li {
    background-color: rgba(255, 255, 255, 0.103);
    width: 40px;  
    height: 40px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.562);
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
  place-content: center;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
}

.keys {
  width: 40px;
  height: 40px;
  background-color: #FCBA29;
  color: black;
  margin: 3px;
  border: 1px #D7D7D7 solid;
  border-radius: 4px;
  font-weight: 600;
}

.keys:not(:disabled):hover {
  cursor: pointer;
  background-color: #db9d15;
}

.correct {
  background-color: #10A95B;
}

.wrong {
  background-color: #BA2A2A;
}

.languages>li.lost {
  position: relative;
  animation: fadeIn 0.5s ease forwards;
}

.languages > li.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.849);
  color: white;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#new-game-btn {
  width: 228px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #11B5E5;
  color: black;
  font-weight: 700;
}

.revealed {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(-10px);
}